{#
Copyright 2016 Google Inc. All rights reserved.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}


{% set NAME_PREFIX = env['deployment'] + '-' + env['name'] %}
{% set CLUSTER_NAME = NAME_PREFIX %}
{% set TYPE_NAME = NAME_PREFIX + '-type' %}
{% set K8S_ENDPOINTS = {'': 'api/v1', '-v1beta1-extensions': 'apis/extensions/v1beta1'} %}

resources:
# We manage the node pools as separate resources.
# We do this so that if we want to make changes we can delete the existing resource and then recreate it.
# Updating doesn't work so well because we are limited in what changes GKE's update method supports.
      # nodePools:
      #  - name: cpu-pool
      #    initialNodeCount: 3
      #    config:
      #      machineType: n1-standard-8
      #      oauthScopes:
              # Attaching cloud-platform scope to nodes is not good practice
              # But it simplifies demos.
      #        - https://www.googleapis.com/auth/cloud-platform
      #        - https://www.googleapis.com/auth/compute
      #        - https://www.googleapis.com/auth/devstorage.read_only
      #        - https://www.googleapis.com/auth/logging.write
      #        - https://www.googleapis.com/auth/monitoring
- name: cpu-pool
  type: container.v1.nodePool
  properties:
    project: {{ properties['project'] }}
    zone: {{ properties['zone'] }}
    clusterId: {{ CLUSTER_NAME }}
    nodePool:
      name: cpu-pool      
      initialNodeCount: 3
      config:          
        machineType: n1-standard-8
        oauthScopes:
        # Attaching cloud-platform scope to nodes is not good practice
        # But it simplifies demos.
          - https://www.googleapis.com/auth/cloud-platform
          - https://www.googleapis.com/auth/compute
          - https://www.googleapis.com/auth/devstorage.read_only
          - https://www.googleapis.com/auth/logging.write
          - https://www.googleapis.com/auth/monitoring

# nodePools:
#  - name: cpu-pool
#    initialNodeCount: 3
#    config:
#      machineType: n1-standard-8
#      oauthScopes:
        # Attaching cloud-platform scope to nodes is not good practice
        # But it simplifies demos.
#        - https://www.googleapis.com/auth/cloud-platform
#        - https://www.googleapis.com/auth/compute
#        - https://www.googleapis.com/auth/devstorage.read_only
#        - https://www.googleapis.com/auth/logging.write
#        - https://www.googleapis.com/auth/monitoring
      #  - name: gpu-pool
      #    initialNodeCount: 3
      #    config:
      #      machineType: n1-standard-8
      #      oauthScopes:
              # Attaching cloud-platform scope to nodes is not good practice
              # But it simplifies demos.
      #        - https://www.googleapis.com/auth/cloud-platform
      #        - https://www.googleapis.com/auth/compute
      #        - https://www.googleapis.com/auth/devstorage.read_only
      #        - https://www.googleapis.com/auth/logging.write
      #        - https://www.googleapis.com/auth/monitoring
      #      accelerators:
      #        - acceleratorCount: 1
      #          acceleratorType: nvidia-tesla-k80